@media  (min-width: 500px) {
.GridArea{
    display: grid;
    justify-content: center;
}

.Logo{
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-weight: 700;
    font-size: 100px;
}

.LogoContainer{
    margin: 0;
    display:grid;
    justify-content: center;
}

.LeftSide{

}

.RightSide{

}

.HeroContainer{
    width: 100%;
    height: 100vh;
}

.Hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #5a5858c5, rgba(161, 154, 144, 0.185)), url('https://cdnb.artstation.com/p/assets/images/images/028/685/761/medium/jessica-alves-anime-funkostore-banner-shenron-x.jpg?1595215368');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;

}

.SliderContainer{
    margin-top: 100px;
    margin-bottom:100px;
}
}
@media  (max-width: 499px) {
    .GridArea{
        display: grid;
        justify-content: center;
    }
    
    .Logo{
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
        font-weight: 700;
        font-size: 50px;
    }
    
    .LogoContainer{
        margin: 0;
        display:grid;
        justify-content: center;
    }
    
    .LeftSide{
    
    }
    
    .RightSide{
    
    }
    
    .HeroContainer{
        width: 100%;
        height: 50vh;
    }
    
    .Hero{
        width: auto;
        height: 60%;
        background-image: linear-gradient(to right, #5a5858c5, rgba(161, 154, 144, 0.185)), url('https://cdnb.artstation.com/p/assets/images/images/028/685/761/medium/jessica-alves-anime-funkostore-banner-shenron-x.jpg?1595215368');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    body, html{
        margin: 0;
        padding: 0;
        height: 100vh;
    
    }
    
    .SliderContainer{
        margin-top: 30px;
        margin-bottom:30px;
    }
    }

    @media  (min-width: 499px) and  (max-width: 1000px){
        .HeroContainer{
            width: 100%;
            height: 50vh;
        }

        .Hero{
            width: auto;
            height: 60%;
            background-image: linear-gradient(to right, #5a5858c5, rgba(161, 154, 144, 0.185)), url('https://cdnb.artstation.com/p/assets/images/images/028/685/761/medium/jessica-alves-anime-funkostore-banner-shenron-x.jpg?1595215368');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
/* With grid-area ->   grid-area: 2 / 1 / span 2 / span 3;
                        Start at row 2 column 1 span 2 row 3 col */