body {
    height: 100vh;
  }
  
  .FormContainer {
    margin-top: 40px;
    padding: 5%;
    vertical-align: middle;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    bottom: 0;
  }
  
  .Contact {
    display: block;
    padding: 10px;
    border: none;
  }
  
  .Contact label {
    display: block;
  }
   
  .Contact input {
    height: 20px;
    width: 25%;
  }
  
  .Contact textarea {
    height: 100px;
    width: 25%;
  }